# Environment variables & secrets
.env
*.env

# Python Virtual Environments
.venv/
venv/
env/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
